body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
}

#app {
	width: 70%;
	background: #206cb3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.score {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: #fafafa;
}

.name {
	width: 300px;
	height: 28px;
	border: #206cb3;
	border-radius: 5px;
	padding: 5px;
	font-family: monospace, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.doors {
	display: flex;
}

.door {
	background: #fafafa;
	width: 100px;
	height: 110px;
	overflow: hidden;
	border-radius: 5px;
	margin: 5px;
}

.boxes {
	transition: transform 1s ease-in-out;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
}

.buttons {
	margin: 1rem 0 2rem 0;
}

button {
	cursor: pointer;
	font-size: 1.2rem;
	margin: 0 0.2rem;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
}

.info {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
